.container {
	margin: 0px auto;
	width: 800px;
}

#txtMessage {
	display: block;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}

#btnSend {
	padding: 15px;
	width: 150px;
	float: right;
	border-radius: 5px;	
}